{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>tinyHeart</title>
    <style type="text/css">
        body{
            padding-top: 10px;
        }
        .all_bg{
            width: 800px;
            height: 600px;
            margin: 0 auto;
        }
        #allcanvas{
            position: relative;
            width: 800px;
            height: 600px;
            margin: 0;
        }
        #canvas1{
            /*front*/
             position: absolute;
             bottom: 0;
             left: 0;
             z-index: 1;
         }
        #canvas2{
            /*back*/
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 0;
        }
    </style>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
        <script>!window.jQuery && document.write(unescape('%3Cscript src="{% static 'game/js/jquery-3.3.1.min.js' %}"%3E%3C/script%3E'))</script>
        <script type="text/javascript" src="{% static 'game/js/main.js' %}"></script>
        <script type="text/javascript" src="{% static 'game/js/commonFunctions.js' %}"></script>
        <script type="text/javascript" src="{% static 'game/js/background.js' %}"></script>
        <script type="text/javascript" src="{% static 'game/js/ane.js' %}"></script>
        <script type="text/javascript" src="{% static 'game/js/fruit.js' %}"></script>
        <script type="text/javascript" src="{% static 'game/js/bigFish.js' %}"></script>
        <script type="text/javascript" src="{% static 'game/js/collision.js' %}"></script>
        <script type="text/javascript" src="{% static 'game/js/baby.js' %}"></script>
        <script type="text/javascript" src="{% static 'game/js/data.js' %}"></script>
        <script type="text/javascript" src="{% static 'game/js/wave.js' %}"></script>
        <script type="text/javascript" src="{% static 'game/js/waveRed.js' %}"></script>
        <script type="text/javascript" src="{% static 'game/js/dust.js' %}"></script>
    <script>
            $(document).ready(function () {
                var high = {{ history_high | safe }};
                set_high(high);
                game();
                setInterval(function(){
                  refreshData()
                }, 3000);
            });

            //check the update of Database history high at fixed time(3s)
            function refreshData(){
                if(update_data()){
                        var new_score = get_newscore();
                        var id = {{ user_id | safe }};
                        $.get("/update_data/",{'new_score':new_score,'id':id },function(ret){
                    })
                }
            }

            $(document).ready(function(){
                //refresh high score
                $("#sum").click(function () {
                    if(update_data()){
                        var new_score = get_newscore();
                        var id = {{ user_id | safe }};
                        alert(new_score);
                        $.get("/update_data/",{'new_score':new_score,'id':id },function(ret){

                    })
                }
                });

            });
    </script>
</head>
<body>
        <div class="all_bg">
            <div id="allcanvas">
                <canvas id="canvas1" width="800" height="600"></canvas>
                <canvas id="canvas2" width="800" height="600"></canvas>
            </div>
        </div>
        <h3>history high:  {{ history_high }}</h3><br>
        <h3>friends</h3>
        {% for friend in friends %}
            <h4>{{ friend.username }}   {{ friend.history_high }}</h4>
        {% endfor %}

        <p>请输入两个数字</p>
        <form action="/add/" method="get">
            a: <input type="text" id="a" name="a"> <br>
            b: <input type="text" id="b" name="b"> <br>
            <p>result: <span id='result'></span></p>
            <button type="button" id='sum'>更新</button>
        </form>



{#        <script>#}
{#            $(document).ready(function(){#}
{#              $("#sum").click(function(){#}
{#                var a = $("#a").val();#}
{#                var b = $("#b").val();#}
{##}
{#                $.get("/add/",{'a':a,'b':b}, function(ret){#}
{#                    $('#result').html(ret)#}
{#                })#}
{#              });#}
{#            });#}
{#        </script>#}

{#        <script>#}
{#            $(document).ready(function(){#}
{#              $("#sum").click(function(){#}
{#                var a = $("#a").val();#}
{#                var b = $("#b").val();#}
{##}
{#                $.get("/add/",{'a':a,'b':b}, function(ret){#}
{#                    $('#result').html(ret)#}
{#                })#}
{#                  alert(getUrlPara("a"));#}
{#              });#}
{#            });#}
{#        </script>#}
</body>
</html>