<!DOCTYPE html>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="zh-CN">

<head>
    <script src="/static/bootstrap/js/jquery-3.2.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>餐厅管理系统</title>
</head>
<body>
<div class="text-center">
    <h1>餐厅管理系统</h1>
    <br><br>
    <div class="navbar navbar-default" role="navigation">
        <a class="btn btn-info" href="{% url 'customer_service:dish_list'%}">点餐入口</a>
        <br><br>
    </div>
    <div class="navbar navbar-default" role="navigation">
        <a class="btn btn-info" href="{% url 'order:cook_list' 0%}"> 厨房入口 </a>
        <br><br>
    </div>
    <div class="navbar navbar-default" role="navigation">
        <a class="btn btn-info" href="{% url 'order:serve_list' 0%}"> 服务员入口 </a>
        <br><br>
    </div>
    <div class="navbar navbar-default" role="navigation">
        <a class="btn btn-info" href="admin"> 管理入口 </a>
        <br><br>
    </div>
    <div class="navbar navbar-default" role="navigation">
        <a class="btn btn-info" href="{% url 'customer_service:bill_welcome'%}"> 结账 </a>
        <br><br>
    </div>
    <div class="navbar navbar-default" role="navigation">
        <a class="btn btn-info" href="{% url 'order:table_layout'%}"> 查看餐桌状态 </a>
        <br><br>
    </div>
</div>







</body>
</html>