<!DOCTYPE html>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="zh-CN">

<head>
    <script src="/static/bootstrap/js/jquery-3.2.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>输入桌号</title>
</head>
<body>
<div class="text-center">
<h1>请输入桌号</h1><br><br><br>
    <form action="{% url 'customer_service:typein_tableid'%}" method="post">

        {% csrf_token %}

        <label>桌号
            <input type="text" name="table_number" class="form-control">
        </label>
        <br><br><br>

        <br><br><br>
        <input class="btn btn-primary"  type="submit" name = "sub" value="提交">
        <a class="btn btn-primary" href="{% url 'online:online_page'%}">返回登录界面</a>
        <br>
    </form>
</div>
</body>
</html>