<!DOCTYPE html>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="zh-CN">

<head>
    <script src="/static/bootstrap/js/jquery-3.2.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <title>请登录</title>
</head>
<body>
<div class="text-center">
<h1>请登录</h1><br><br><br>
    <form action="{% url 'online:login'%}" method="post">

        {% csrf_token %}

        <label>用户名
            <input type="text" name="username" class="form-control">
        </label>
        <br><br><br>

        <label>密码
            <input type="text" name="password" class="form-control">
        </label>
        <br><br><br>

        <input class="btn btn-primary"  type="submit" name = "sub" value="登录">
        <a class="btn btn-primary" href="{% url 'online:register_page'%}">注册</a>
        <br><br><br>
        <a class="btn btn-primary" href="{% url 'customer_service:customer_welcome'%}">餐桌自助服务终端</a>
        <br><br><br>
        <br>
    </form>
</div>
</body>
</html>