<!DOCTYPE html>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="zh-CN">

<head>
    <script src="/static/bootstrap/js/jquery-3.2.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>结账页面</title>
</head>
<body>
<div class="text-center">
    <h1>请选择结账方式</h1><br><br><br>
    <a class="btn btn-primary" href="{% url 'customer_service: ' table_id%}">主界面</a>
    <a class="btn btn-primary" href="{% url 'customer_service:customer_main' table_id%}">主界面</a>
    <br>
    <a class="btn btn-primary" href="{% url 'customer_service:customer_main' table_id%}">主界面</a>
</div>
</body>
</html>