<!DOCTYPE html>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="zh-CN">

<head>
    <script src="/static/bootstrap/js/jquery-3.2.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>服务员手持终端</title>
</head>
<body>
<div class="text-center">
    <h1>欢迎使用服务员手持终端</h1>
    <br><br>
    <div class="navbar navbar-default" role="navigation">
        <a class="btn btn-info" href="{% url 'order:serve_list' waiter_id%}">上菜列表</a>
        <br><br>
    </div>


</div>
</body>
</html>